[submodule "cuttlefish"]
	path = cuttlefish
	url = https://github.com/COMBINE-lab/cuttlefish.git
	branch = develop
[submodule "piscem-cpp"]
	path = piscem-cpp
	url = git@github.com:combine-lab/piscem-cpp.git
	branch = dev-atac
